/*
Custom Css
*/
@import "mixins";
body {
  overflow-x: hidden;
}
.imagen {
  background-image: url(../img/Foto1parallax.jpg);
}
.parallax-image {
  height: 500px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen1 {
  background-image: url(../img/fotoparallax2.jpg);
}
.texto-parallax {
  font-size: 1.5em;
}
.h1-par {
  font-family: "Roboto", sans-serif;
  font-size: 70px !important;
  font-weight: 600 !important;
}
#mapid {
  width: 100%;
  height: 300px;
}
.fotoPerfil {
  height: 70px;
  width: 70px;
  border-radius: 100px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #355F40;
}

.foto {
  aspect-ratio: 2/3;
  object-fit: cover;
}

.loading {
  display: flex;
  justify-content: center;
}
.error{
  color:red;
}
.text-success {
  color: #355F40;
}
.shop-top-menu a:hover { color: #355F40 !important;}
#templatemo_main_nav a:hover { color: #355F40;}
.bg-success { background-color: #355F40 !important;}
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #355F40;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #355F40 !important;
  font-size: 2.8em !important;
}
#tempaltemo_footer a:hover { color: #355F40;}
.btn-success {
  background-color: #355F40 !important;
  border-color: #56ae6c !important;
}
.table-success{
  background-color: #355F40;
}
.dropdown:hover{
  transition:ease-in;
  @include duration(2s);
}
.boton{
  transition: all 1s linear 0s;
}
.boton:hover{
  transform: rotate(360deg);
}