<h1>Hola estamos encantados de tenerte en AlquiGame</h1>

<p>
    Por favor confirma tu dirección de email en el siguiente enlace <br><br>
    <a href="{{ signedUrl }}">Confirmo mi email</a>.
    El link espirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos del equipo de AlquiGame
</p>
