<div class="container-fluid bg-light py-5">
	<div class="col-md-6 m-auto text-center">
		<h1 class="h1">Contacto</h1>
		<p>
			Nos podrás encontrar en Jamilena (Jaén) este es nuestro número de 
			            teléfono 010-020-0340, este nuestro email: info@company.com y 
			            abrimos de lunes a sabado de 9:00-14:00 y de 17:00-20:00
		</p>
	</div>
</div>
<div id="mapid"></div>
