<div class="container-fluid bg-light py-5">
	<div class="col-md-6 m-auto text-center">
		<h1 class="h1">Mapa de navegación</h1>
		<ul>
            <li>
                <a href="main">Inicio</a>
            </li>
            <li>
                <a href="nosotros">Sobre nosotros</a>
            </li>
            <li>
                <a href="catalogo">Catálogo</a>
            </li>
            <li>
                <a href="contacto">Contacto</a>
            </li>
            <li>
                <a href="login">Iniciar sesión</a>
            </li>
            <li>
                <a href="register">Registrarse</a>
            </li>
            <li>
                <a href="detalles">Detalles de producto</a>
            </li>
            {% if is_granted('ROLE_USER') %}
            <li>
                <a href="alquilar">Alquilar</a>
            </li>
            <li>
                <a href="logout">Cierra sesion</a>
            </li>
            <li>
                <a href="editar">Editar usuario</a>
            </li>
            <li>
                <a href="alquileres">Ver mis alquileres</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="admin">Easy Admin</a>
            </li>
            <li>
                <a href="api">API Plataform</a>
            </li>
            {% endif %}
        </ul>
	</div>
</div>