<div class="parallax-image imagen">
	<div class="row h-100">
		<div class="col-md-12 align-self-center">
			
			<h1 class="h1-par text-center">SOBRE NOSOTROS</h1>
		</div>
	</div>
</div>
<div class="container col-md-4 align-self-center">
	<p class="h2 text-center pb-4">Somos una pequeña empresa que acaba de empezar y queremos acercar los ultimos juegos del mercado a todo tipo de público sin que tengas que gastar mucho dinero.</p>
</div>
<div class="parallax-image imagen1">
	
	<div class="row h-100"></div>
</div>
<div class="container col-md-4 align-self-center" >
	<p class="h2 text-center pb-4">Somos una empresa familiar que estamos aquí con la ilusión de ayudar a la gente a jugar a todos los juegos del mercado a un precio alcanzable para toda la gente </p>
</div>
